[Unit]
Description=Untangle Classd

[Service]
Type=simple
User=daemon
ExecStart=/usr/bin/classd -F
Restart=always

[Install]
WantedBy=multi-user.target
